.adcenter{width:728px;height:90px;margin:0 auto;}

/*header style*/
.header{
    margin: 25px 0;
}
.header .search{
    max-width: 250px;
    margin: 12px auto;
    /*border: 1px dashed #666;*/
}
h2{
    margin-top: 0;
}
a{
    border-bottom: 1px dotted #ffffff;
    color: #ffffff;
}
.sub-header{
    color: #ffffff;
}
.description{
    color: #ffffff;
    font-size: 25px;
    padding: 5px 50px;
}

.tjl-btn {
    -moz-user-select: none;
    background-image: none;
    background-color: #ffffff;
    color: #017a5e;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 23px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 25px 70px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.social .btn{
    float: right;
    margin-left: 25px;
    background-color: #ffffff;
    color: #017a5e;
}

/*登录界面样式*/
.login_wrapper {
    color: #777777;
    font-size: 16px;
    margin: 0 auto;
    padding-top: 50px;
    width: 640px;
}
*::-moz-selection {
    background: none repeat scroll 0 0 #019875;
    color: #FFFFFF;
}
.login_header {
    margin-bottom: 20px;
    position: relative;
}
.login_box {
    background: none repeat scroll 0 0 #EAFFFD;
    min-height: 150px;
    overflow: hidden;
    padding: 40px;
}
.login_box_btm {
    background: url("../images/login_btm.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    height: 10px;
}
#login-form {
    border-right: 1px dashed #999999;
    float: left;
    margin: 0;
    width: 360px;
}
#login-form input#LoginForm_username {
    border: medium none;
    color: #777777;
    font-size: 16px;
    width: 296px;
}
#login-form input#LoginForm_password {
    border: medium none;
    color: #777777;
    font-size: 16px;
    width: 296px;
}
#login-form input[type="text"], #login-form input[type="password"] {
    margin: 0 0 20px;
}
.login_wrapper input[type="text"], .login_wrapper input[type="password"] {
    border: medium none;
    margin: 0 0 20px;
}
input[type="text"], input[type="password"] {
    border: 2px solid #F1F1F1;
    font: 20px/32px "微软雅黑","宋体",Arial;
    height: 40px;
    margin-top: 20px;
    outline: medium none;
    padding: 6px 10px;
    transition: border 0.2s ease-in 0s;
    width: 300px;
}
#login-form label {
    vertical-align: top;
}
.fl {
    float: left !important;
    margin-bottom: -20px;
    padding: 10px 0 0;
}
#login-form .fr {
    color: #777777;
    margin-right: 45px;
}
#login-form a {
    color: #019875;
}
.fr {
    float: right !important;
}
a {
    text-decoration: none;
    transition: background-color 0.2s ease-out 0s, color 0.1s ease-out 0s;
}
#submitLogin {
    background: none repeat scroll 0 0 #019875;
    border: medium none;
    border-radius: 100px;
    clear: both;
    color: #FFFFFF;
    float: left;
    font-size: 30px;
    height: 150px;
    line-height: 46px;
    margin: 30px 30px 0 0;
    text-align: center;
    width: 150px;
    cursor: pointer;
}
.registor_now:hover {
    color: #019875;
    text-decoration: underline;
}
.registor_now {
    background: url("../images/registor_now.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    color: #019875;
    float: left;
    height: 50px;
    line-height: 50px;
    padding-right: 24px;
}
.login_others {
    clear: both;
    margin: 70px 0 10px;
}
.icon_wb {
    background: url("../images/wbqq.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    float: left;
    height: 54px;
    margin-left: 30px;
    width: 54px;
}
.icon_qq {
    background: url("../images/wbqq.png") no-repeat scroll right top rgba(0, 0, 0, 0);
    float: left;
    height: 54px;
    width: 54px;
    margin-left: 30px;
}

/*table 内部样式 jdh*/
.table a{
    color:#006600;
}

/*公司页面*/

.clearfix:after {
    clear: both;
    content: "";
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.content_l {
    float: left;
    width: 650px;
}
.content_r {
    float: left;
    margin-left: 20px;
    width: 290px;
}
.c_detail {
    margin-bottom: 30px;
    min-height: 120px;
    position: relative;
}
.c_section {
    background-color: #FAFAFA;
    margin-bottom: 40px;
    position: relative;
}
.c_tags {
    margin-bottom: 30px;
    position: relative;
}
.c_detail .c_logo {
    height: 110px;
    left: 0;
    position: absolute;
    width: 190px;
}
.c_logo {
    background: none repeat scroll 0 0 #E7E7E7;
    color: #E8E8E8;
    height: 110px;
    overflow: hidden;
    position: relative;
    width: 190px;
}
.c_box {
    margin: 0 30px 0 220px;
}
.clear {
    clear: both;
}
.c_logo div#logoShow {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 110px;
    margin: 0;
    padding: 0;
    width: 190px;
}
.c_detail #logoShow {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 3px solid #91CEBE;
    display: block;
    height: 190px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 190px;
}
.c_detail .c_logo img {
    left: 0;
    position: absolute;
}
.c_box h2 {
    float: left;
    font-size: 24px;
    font-weight: normal;
    margin: 10px 0;
}
.c_box em {
    background: url("../images/unvalid.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 19px;
    margin: 3px 0 0 10px;
    width: 15px;
}
em {
    font-style: normal;
}
.c_box h1.fullname {
    color: #555555;
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 10px;
}
.content_l h1 {
    font-weight: normal;
    line-height: 42px;
    margin: 0 0 20px;
}
.c_box .oneword {
    color: #777777;
    overflow: hidden;
}
.c_box ul {
    margin-top: 20px;
}
ul.reset {
    list-style: none outside none;
    margin: 10px 0 0 ;
    padding: 0;
}
.c_box li {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CBCBCB;
    color: #777777;
    float: left;
    font-size: 12px;
    margin: 0 18px 7px 0;
    white-space: nowrap;
}
.c_box li span {
    float: left;
    padding: 0 5px;
}
.c_tags table {
    color: #555555;
    font-size: 18px;
    line-height: 24px;
    width: 283px;
}
.c_tags table td {
    border-bottom: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
}
.c_tags td {
    background: none repeat scroll 0 0 #FAFAFA;
    padding: 7px 10px;
}
.c_section h2 {
    background: none repeat scroll 0 0 #91CEBE;
    color: #FFFFFF;
    float: left;
    font-size: 24px;
    font-weight: normal;
    height: 43px;
    line-height: 43px;
    margin: -8px 0 10px 20px;
    padding: 0 20px;
    position: absolute;
    z-index: 2;
}
.c_intro {
    font-size: 18px;
    line-height: 30px;
    text-indent: 2em;
    word-wrap: break-word;
}
.c_section > dd {
    clear: both;
    color: #555555;
    padding: 50px 25px 20px;
}
dl, dd {
    margin: 0;
}
.jobsTotal {
    color: #555555;
    float: right;
    margin: 10px 25px 0 0;
}
/*ul.c_jobs {*/
    /*margin: -10px 0 0;*/
/*}*/
.c_jobs li {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 3px solid #91CEBE;
    height: 30px;
    margin-bottom: 10px;
}
.c_jobs a {
    color: #555555;
    display: block;
    height: 60px;
    overflow: hidden;
    padding: 0 10px 0 15px;
}
.c_jobs span {
    color: #999999;
    float: right;
    font-size: 14px;
    margin-top: -30px;
}
.c_jobs h3 {
    color: #0D9572;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 5px 0;
    width: 520px;
}
.c_jobs h3 span {
    color: #999999;
    float: none;
    font-size: 14px;
    margin-right: 10px;
}

/*个人中心*/
.social a {
    display: block;
    float: right;
    margin-right: 30px;
}

/*注册*/
.register_radio {
    list-style: none outside none;
    margin: -10px 0 20px 0px;
    padding: 0;
}
.register_radio li {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #FAFAFA;
    color: #555555;
    cursor: pointer;
    float: left;
    font-size: 18px;
    height: 42px;
    line-height: 42px;
    margin: 15px 11px 0 0;
    position: relative;
    text-align: center;
    width: 148px;
}
.register_radio li input[type="radio"] {
    cursor: pointer;
    height: 46px;
    left: -2px;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: -2px;
    width: 152px;
}
#loginForm a {
    color: #019875;
}

#loginForm input[type="checkbox"] {
    margin-bottom: 20px;
    margin-right: 3px;
}
.checkbox {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #E0E0E0;
    float: left;
    height: 13px;
    margin-top: 3px;
    position: relative;
    width: 13px;
}
.register_radio li.current {
    border: 2px solid #93B7BB;
}
/*右侧标签云*/
.r_box{
    margin: 0 30px 0 5px;
}
.r_box li {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CBCBCB;
    color: #777777;
    float: left;
    font-size: 12px;
    margin: 0 18px 7px 0;
    white-space: nowrap;
}
.c_box a{
    color: #000000;
}

/*公司信息编辑框*/
#info-edit input{
    width: 85%;
    margin-top: 0px;
    margin-bottom: 10px;
}

/*职位信息*/
.job_detail {
    background: none repeat scroll 0 0 #FAFAFA;
    margin-top: 6px;
    padding-bottom: 30px;
}
.job_detail dt {
    padding-right: 35px;
}
.job_detail dt h1 {
    background: none repeat scroll 0 0 #91CEBE;
    color: #FFFFFF;
    float: left;
    font-size: 30px;
    line-height: 38px;
    margin: -6px 0 10px 35px;
    max-width: 440px;
    padding: 6px 20px;
}

.job_detail dt h1 div {
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
}
.job_detail dd {
    color: #777777;
    overflow: hidden;
    padding: 15px 35px 10px;
}
.job_bt {
    border-top: 1px solid #FFFFFF;
}

.job_detail dd h3.description {
    border-left: 7px solid #91CEBE;
    color: #555555;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 20px;
    padding: 2px 0 0 7px;
}

.job_company dt {
    margin-bottom: 10px;
    padding-bottom: 25px;
    position: relative;
}
.job_company dt a {
    color: #555555;
}
.job_company .b2 {
    border: 2px solid #91CEBE;
}
.job_company dt div {
    bottom: 5px;
    left: 90px;
    padding: 20px 0;
    position: absolute;
}
.job_company dt h2 {
    color: #ffffff;
    margin: 0;
}
.fl {
    float: left !important;
}
.job_company dd {
    padding: 10px 0;
}
.c_feature li {
    color: #777777;
    line-height: 25px;
    margin: 0 0 5px;
    overflow: hidden;
}
.c_feature span {
    background: none repeat scroll 0 0 #FAFAFA;
    color: #333333;
    float: left;
    margin-right: 8px;
    padding: 0 6px;
}
/*错误提示信息*/
#loginForm span.error {
    margin: -10px 0 10px;
}
span.error {
    background: url("../images/error.png") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
    color: #FF6A6A;
    display: block;
    font-size: 14px;
    line-height: 22px;
    margin: 5px 0 10px;
    padding-left: 20px;
}

/*弹出框样式*/
